<h1><%= @cocktail.name %></h1>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>


<ul>
  <% @cocktail.doses.each do |dose| %>
    <li> <%= "#{dose.ingredient.name}: #{dose.description}"  %>
      <button><%= link_to "Delete", cocktail_dose_path(@cocktail.id, dose.id), method: :delete %></button>
    </li>
  <% end %>
</ul>



<button><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), method: :get %></button>


<%= link_to "Go back!", cocktails_path%>


